* {
  box-sizing: border-box;
}

body 
{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container 
{
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  transition: transform 0.3s ease-in-out;
}

input
 {
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #1e88e5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #1565c0;
}

.card {
  display: none;
  margin-top: 20px;
  background: #e3f2fd;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
